arrayfire==3.6.20181017
d3m==2019.6.7
git+https://gitlab.com/datadrivendiscovery/common-primitives.git@devel#egg=common_primitives
git+https://gitlab.com/datadrivendiscovery/sklearn-wrap.git@dev-dist#egg=sklearn_wrap
